## Exercício 2: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [32]:
import pandas as pd
import numpy as np

np.random.seed(42)

df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Matematica'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Portugues'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Geografia'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Ingles'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Historia'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Fisica'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Quimica'])

pd.options.display.float_format = '{:.2f}'.format

dfc = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)

In [33]:
# 1) Seu código aqui



num_questoes = {'Matematica': 24,
    'Portugues': 18,
    'Geografia': 8,
    'Ingles': 8,
    'Historia': 8,
    'Fisica': 12,
    'Quimica': 12
}

percentuais = dfc.copy()

for assunto, total_questoes in num_questoes.items():
    percentuais[assunto] = (dfc[assunto] / total_questoes) * 100

print("Percentuais de acerto por assunto:")
pd.DataFrame(percentuais)

Percentuais de acerto por assunto:

    Matematica  Portugues  Geografia  Ingles  Historia  Fisica  Quimica
0        25.00      38.89      87.50   37.50     12.50   66.67    25.00
1        79.17      55.56       0.00    0.00      0.00   91.67    66.67
2        58.33      88.89       0.00   62.50     87.50   33.33    33.33
3        41.67      38.89      37.50   50.00      0.00    0.00    66.67
4        29.17      11.11      25.00   87.50      0.00   75.00    25.00
..         ...        ...        ...     ...       ...     ...      ...
95       25.00      22.22      87.50   12.50     50.00   75.00    25.00
96       33.33       5.56      50.00   75.00     12.50   33.33    25.00
97       95.83      27.78       0.00   25.00     50.00    8.33    41.67
98        0.00      55.56      37.50   12.50     62.50   83.33    91.67
99       45.83      83.33       0.00   12.50     75.00   58.33    16.67

[100 rows x 7 columns]

In [34]:
# 2) Seu código aqui
dfc['Total_Acertos'] = dfc.sum(axis=1)

print("Total de acertos de cada aluno:")
pd.DataFrame(dfc, index = range(0,100))

Total de acertos de cada aluno:

,Matematica,Portugues,Geografia,Ingles,Historia,Fisica,Quimica,Total_Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34
96,8,1,4,6,1,4,3,27
97,23,5,0,2,4,1,5,40
98,0,10,3,1,5,10,11,40
99,11,15,0,1,6,7,2,42

In [35]:
# 3) Seu código aqui
total_questoes = sum(num_questoes.values())
dfc['Percentual_Geral'] = (dfc['Total_Acertos'] / total_questoes) * 100

print("Percentual geral de cada aluno:")
pd.DataFrame(dfc)

Percentual geral de cada aluno:

,Matematica,Portugues,Geografia,Ingles,Historia,Fisica,Quimica,Total_Acertos,Percentual_Geral
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
3,10,7,3,4,0,0,8,32,35.56
4,7,2,2,7,0,9,3,30,33.33
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.78
96,8,1,4,6,1,4,3,27,30.00
97,23,5,0,2,4,1,5,40,44.44
98,0,10,3,1,5,10,11,40,44.44
99,11,15,0,1,6,7,2,42,46.67

In [36]:
# 4) Seu código aqui
nota_corte = 45
alunos_acima_corte = dfc[dfc['Total_Acertos'] > nota_corte].shape[0]

print(f'Número de alunos com nota maior que 45: {alunos_acima_corte}')

Número de alunos com nota maior que 45: 31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [37]:
# seu código aqui
df_eliminados = dfc[(df_mat['Matematica'] == 0) | 
                      (df_fis['Fisica'] == 0) | 
                      (df_qui['Quimica'] == 0)]

print('O numero de Eliminados por zerar tais materias foram: ')
print(df_eliminados.shape[0])
pd.DataFrame(df_eliminados)

O numero de Eliminados por zerar tais materias foram:
23

,Matematica,Portugues,Geografia,Ingles,Historia,Fisica,Quimica,Total_Acertos,Percentual_Geral
3,10,7,3,4,0,0,8,32,35.56
6,6,0,7,7,5,0,4,29,32.22
10,10,8,3,2,1,7,0,31,34.44
12,20,8,3,7,1,0,3,42,46.67
14,7,11,1,7,1,4,0,31,34.44
20,23,11,6,5,6,2,0,53,58.89
25,0,4,7,4,0,4,8,27,30.00
26,11,14,6,2,7,0,0,40,44.44
27,21,13,1,5,7,3,0,50,55.56
33,14,8,0,5,6,6,0,39,43.33
35,11,14,6,3,3,0,11,48,53.33
49,8,1,1,0,1,0,8,19,21.11
56,7,6,7,5,6,0,8,39,43.33
65,1,8,2,4,3,0,6,24,26.67
66,5,4,3,6,3,0,10,31,34.44
72,11,16,3,4,7,0,9,50,55.56
73,1,16,2,4,3,0,11,37,41.11
74,9,11,0,7,5,7,0,39,43.33
84,15,1,0,5,1,0,4,26,28.89
89,23,11,7,7,6,9,0,63,70.00
92,14,10,1,6,1,8,0,40,44.44
94,0,5,2,6,1,3,8,25,27.78
98,0,10,3,1,5,10,11,40,44.44

In [38]:
media_dos_eliminados_his = (df_eliminados['Historia'].sum())/8
media_dos_eliminados_geo = (df_eliminados['Geografia'].sum())/8
print('A media de Historia')
print(media_dos_eliminados_his)
print('A media de Geografia')
print(media_dos_eliminados_geo)

A media de Historia
9.875
A media de Geografia
9.25

In [39]:
#Corrigindo e desqualificando os alunos que zeraram
dfc['Situação'] = (dfc['Total_Acertos'] < nota_corte) | (df_mat['Matematica'] == 0) | (df_fis['Fisica'] == 0) | (df_qui['Quimica'] == 0) == False

dfc_2 = pd.DataFrame(dfc.replace(False,'Reprovado').replace(True,'Aprovado'))
pd.DataFrame(dfc_2)

,Matematica,Portugues,Geografia,Ingles,Historia,Fisica,Quimica,Total_Acertos,Percentual_Geral,Situação
0,6,7,7,3,1,8,3,35,38.89,Reprovado
1,19,10,0,0,0,11,8,48,53.33,Aprovado
2,14,16,0,5,7,4,4,50,55.56,Aprovado
3,10,7,3,4,0,0,8,32,35.56,Reprovado
4,7,2,2,7,0,9,3,30,33.33,Reprovado
...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.78,Reprovado
96,8,1,4,6,1,4,3,27,30.00,Reprovado
97,23,5,0,2,4,1,5,40,44.44,Reprovado
98,0,10,3,1,5,10,11,40,44.44,Reprovado
99,11,15,0,1,6,7,2,42,46.67,Reprovado

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [53]:
# 1) Sua solução aqui
df = pd.read_csv('Acre_va.csv', sep=';')

total_vacinas = df.shape[0]
print(f"Total de vacinas registradas: {total_vacinas}")

Total de vacinas registradas: 386575

In [60]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,c4bb5376-5fda-44b8-81d0-e139efad17e6-i0b0,855111888b634df53a4df110e0c0e699179a060d21dda2...,41.00,1979-06-01,F,3.00,PARDA,120033.00,10.00,MANCIO LIMA,...,9.00,Trabalhadores de Saúde,202010040,SINOVAC/BUTANTAN,Organization/61189445000156,2021-01-22,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
1,b73a9e37-006c-4469-8689-89c6d083b129-i0b0,164bb5df3e64ee07890deb4dbabc2a1941b0c0f06ffd91...,47.00,1973-08-07,F,3.00,PARDA,120060.00,10.00,TARAUACA,...,2.00,Faixa Etária,208A21A,JANSSEN,Organization/00394544000851,2021-07-05,Dose,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
2,a1fd1d0c-6a96-48a6-9018-7cd049f9018b-i0b0,47af07311e652bdaa08cba7648777ae288fe0e9896c5f2...,53.00,1968-06-02,M,3.00,PARDA,120040.00,10.00,RIO BRANCO,...,2.00,Faixa Etária,205F21A,JANSSEN,Organization/30587,2022-05-03,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
3,b73b1439-8bb0-4872-afab-d44aca5882ba-i0b0,82b43d61abf068dc9ac77652edb64b44c56470915058de...,80.00,1942-04-12,F,4.00,AMARELA,120050.00,10.00,SENA MADUREIRA,...,2.00,Faixa Etária,GF9670,PFIZER,28290,2023-03-14,Reforço,103,COVID-19 PFIZER - COMIRNATY BIVALENTE,Novo PNI
4,b08d335c-41d5-45ed-af50-44ce8d5f79ad-i0b0,d55fdf01dd99aec0c4f73575087dce231f650398a7c74c...,33.00,1988-06-02,M,3.00,PARDA,120040.00,10.00,RIO BRANCO,...,2.00,Faixa Etária,FA9090,PFIZER,Organization/00394544000851,2021-07-04,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [55]:
df.shape[0]

174191

In [54]:
# 2) 
df['paciente_id'].nunique()

316077

In [55]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

143508

In [64]:
# 4) 
pacientes_menos_18 = df[df['paciente_idade'] < 18]['paciente_id'].nunique()
print(f"Total de pacientes com menos de 18 anos vacinados: {pacientes_menos_18}")

Total de pacientes com menos de 18 anos vacinados: 67934

In [62]:
# 5)
total_estabelecimentos = df['estabelecimento_valor'].nunique()
print(f"Total de estabelecimentos que aplicaram vacinas: {total_estabelecimentos}")

Total de estabelecimentos que aplicaram vacinas: 220

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [79]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [80]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [81]:
# 3)
Qtd= df_menor['vacina_categoria_nome'].value_counts()
pd.DataFrame(Qtd)

                                                count
vacina_categoria_nome
Faixa Etária                                    47105
Povos Indígenas                                  4526
Outros                                           3800
Povos e Comunidades Tradicionais                  791
Trabalhadores de Saúde                            245
Comorbidades                                       53
População Privada de Liberdade                     48
Gestantes                                          42
Pessoas com Deficiência                             9
Puérperas                                           7
Pessoas Institucionalizadas                         2
Pessoas de 60 anos ou mais institucionalizadas      1

In [86]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [87]:
# 5)
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [88]:
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(204, 6)

In [90]:
df_menor_lista['estalecimento_noFantasia'].value_counts()

estalecimento_noFantasia
UNIDADE ASSISTENCIAL A SAUDE INDIGENA DE TARAUACA POLO BASE    2
DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AMBIENTAL          1
USF ELPIDIO MOREIRA SOUZA                                      1
USF LUANA FREITAS I                                            1
U S F SOFIA ALMEIDA BARRETO                                    1
                                                              ..
UNIDADE DE SAUDE DA FAMILIA GERALDO MAIA                       1
UNIDADE BASICA DE SAUDE PENTECOSTES                            1
USF MOCINHA MAGALHAES                                          1
UNIDADE DE SAUDE DA FAMILIA RAIMUNDA BITENCOURT DA SILVA       1
ESF JOSE PAULO DE SOUZA                                        1
Name: count, Length: 203, dtype: int64